<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.sma.sma_coding_dev_flutter_sdk">

    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <service android:name="com.realsil.sdk.dfu.DfuService" />
    </application>
</manifest>
